# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Grade3\创新实践2\2023-VAST-CHALLENGE\vast_2023_mc1\GraphEmbedding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
